body{
    background-image: url(../img/big/m_1.png);
}
.content
position: relative;
}
.content_body{
    max-width: 1170px;
    margin: 0px auto;
}
.content_header{
    text-align: center;
    text-transform: uppercase;
    margin-bottom: 20px;
    padding: 0px 20px;
}
.content_title{
    font-size: 70px;
}
.content_article{
    background-color: rgba(255,255,255,0.5);
    padding: 25px;
    font-size: 18px;
    line-height: 24px;
    margin: 40px 10%;
}
.content_article p{
    margin-bottom: 20px;
}
    ul{
    display: flex;
    justify-content: center;
    align-items: center;
}
li{
    display: flex;
    padding: 0 20px;
    color: #000000;
    font-size: 25px;
    font-family: sans-serif;
    text-transform: uppercase;
    transition: .5s;
    z-index: 4;
}
a{
    text-decoration: none;
}
li a{
    text-decoration: none;
    color: #000000;
    transition: .5s;
    padding: 10px;
}
ul:hover li a {
    filter: blur(5px);
}
ul:hover li a:hover{
    font-size: 30px;
    filter: blur(0px);
    background-color: darkolivegreen;
}
